---
export const prerender = false;

import { fetchProyects } from "../../functions/wordpress";

import Layout from "../../layouts/BaseLayout.astro";
import Content from "../../layouts/containers/BaseContent.astro";
import HeroProyect from "../../components/sections/HeroProyect.astro";
import GaleryLigthbox from "../../components/sections/GaleryLigthbox.svelte";

const data = await fetchProyects({
    query: `
    query proyectPage {
        proyects {
            nodes {
                slug
                title
                excerpt
                content
                featuredImage {
                    node {
                        mediaItemUrl
                    }
                }
                proyectCategories {
                    nodes {
                        name
                    }
                }
                proyectFeatures {
                    nodes {
                        name
                    }
                }
                proyectLinks {
                    figmaUrl
                    githubUrl
                    urlDelSitioWeb
                }
                proyectUsedTools {
                    nodes {
                        name
                    }
                }
                screenshots {
                    images {
                        ... on MediaItem {
                            id
                            sourceUrl(size: LARGE)
                            mediaItemUrl
                            altText
                        }
                    }
                }
            }
        }
    }
    `,
});

const { slug } = Astro.params;

const proyect = data.find((proyect) => proyect.slug === slug);
if (!proyect) return Astro.redirect("/404");
---

<Layout
    title={proyect.title + " - Portafolio de Michael Barrera"}
    pageTitle={proyect.title}
    pageDescription={proyect.excerpt}
>
    <HeroProyect
        heading={proyect.title}
        description={proyect.excerpt}
        proyectCategory={proyect.proyectCategories.nodes.map((name) => {
            return name.name;
        })[0]}
        proyectFeatureImg={proyect.featuredImage.node.mediaItemUrl}
        proyectLink={proyect.proyectLinks.urlDelSitioWeb}
    />
    <Content className="gap-10">
        <section class="flex flex-col md:flex-row gap-8 md:gap-16 p-6">
            <h2 class="w-[30%] flex-1 text-3xl font-medium">Descripción</h2>
            <article
                class="w-full md:w-[70%] prose-lg prose-headings:font-semibold prose-headings:text-pink-100 prose-p:text-pink-100/90 [&>figure>div>iframe]:w-full px-7 py-8 bg-pink rounded-xl"
            >
                <Fragment set:html={proyect.content} />
            </article>
        </section>
        <section class="flex flex-col md:flex-row gap-8 md:gap-16 p-6 py-8">
            <h2 class="w-[30%] flex-1 text-3xl font-medium">Características</h2>
            <div
                class="w-full h-fit md:w-[70%] columns-2 gap-12 px-7 pb-5 pt-4 bg-pink rounded-xl"
            >
                <h3 class="text-2xl text-pink-100 font-bold py-4 mb-1">
                    Features:
                </h3>
                <ul class="p-0 mb-0 list-none list divide-y divide-pink-200/10">
                    {
                        proyect.proyectFeatures.nodes.map((tool) => {
                            return (
                                <li class="text-pink-100/90 text-lg font-medium m-0 py-4 pl-0">
                                    {tool.name}
                                </li>
                            );
                        })
                    }
                </ul>
                <h3 class="text-2xl text-pink-100 font-bold py-4 mb-1">
                    Stack:
                </h3>
                <ul class="p-0 mb-0 list-none list divide-y divide-pink-200/10">
                    {
                        proyect.proyectUsedTools.nodes.map((tool) => {
                            return (
                                <li class="text-pink-100/90 text-lg font-medium m-0 py-4 pl-0">
                                    {tool.name}
                                </li>
                            );
                        })
                    }
                </ul>
            </div>
        </section>
        {
            proyect.screenshots.images ? (
                <section class="flex flex-col md:flex-row gap-8 md:gap-16 p-6">
                    <h2 class="w-[30%] flex-1 text-3xl font-medium">
                        Screenshots
                    </h2>
                    <GaleryLigthbox
                        client:visible
                        images={proyect.screenshots.images}
                    />
                </section>
            ) : null
        }
    </Content>
</Layout>
