---
interface Props {
    className: string;
    text: string;
    link: string;
    linkTarget?: "_blank" | "_self" | "_parent" | "_top";
    linkTitle?: string;
    linkRel?: string;
}
const { className, text, link, linkTitle, linkRel, linkTarget } = Astro.props;

import AngleIcon from "../icons/angle.svelte";
---

<a
    class=`${className} group text-pink-100 flex flex-row items-center gap-3 hover:text-pink-50 `
    href={link}
    title={linkTitle}
    rel={linkRel}
    target={linkTarget}
    >{text}
    <AngleIcon
        width={8}
        className={"fill-pink-100 group-hover:translate-x-0.5 transition-all ease"}
    />
</a>
