---
interface Props {
    projectSlug: string;
    projectCat: string;
    projectName: string;
    projectDesc: string;
    projectImage: string;
    className: string;
}
const {
    projectSlug,
    projectCat,
    projectName,
    projectDesc,
    projectImage,
    className,
} = Astro.props;

import CartIcon from "../icons/Cart.astro";
import PillLink from "../buttons/PillLink.astro";
---

<article
    class=`${className} group relative w-full items-center bg-velvet-900/10 px-6 py-7 md:p-9 md:pr-0 rounded-2xl gap-6 transition ease-[cubic-bezier(0.345, 0.115, 0.135, 1.42)] hover:border-pink-900/50 hover:bg-velvet-900/25 overflow-hidden`
>
    <div
        class="w-full md:w-[70%] lg:w-[60%] flex flex-col gap-3 md:gap-4 text-pink-100 group-hover:text-pink-50"
    >
        <div class="flex flex-row items-center gap-2 md:gap-3">
            <CartIcon
                width={16}
                className="w-auto scale-90 md:scale-100 fill-pink-400/75 group-hover:fill-pink-400"
            />
            <em class="text-xs md:text-sm text-pink-200 not-italic"
                >{projectCat}</em
            >
        </div>
        <h3 class="text-xl md:text-2xl font-medium line-clamp-2">
            {projectName}
        </h3>
        <div class="text-base md:text-lg line-clamp-3 mb-2">
            <Fragment set:html={projectDesc} />
        </div>

        <PillLink
            className="after:content-[''] after:absolute after:inset-0 after:z-10"
            text="Ver projecto"
            link={projectSlug}
            linkTitle="Ver projecto"
        />
    </div>
    <img
        class="hidden md:block md:w-[320px] lg:w-[350px] xl:w-[360px] max-h-[280px] object-cover absolute -right-[20%] group-hover:-right-[13%] lg:-right-[50%] lg:group-hover:-right-[47%] xl:-right-[45%] xl:group-hover:-right-[43%] bottom-0 -rotate-3 transition-all"
        width="213"
        height="288"
        src={projectImage}
        alt=`Imagen destacada del projecto ${projectName}`
        loading="lazy"
        decoding="async"
    />
</article>
