---
import PillLink from "../buttons/PillLink.astro";

interface Props {
    className?: string;
    projectName: string;
    projectDesc: string;
    projectLink: string;
    images: string[];
}
const { projectName, projectDesc, className, projectLink, images } =
    Astro.props;
---

<article
    class=`${className} group relative w-full h-fit md:h-[260px] flex flex-col-reverse md:flex-row items-center bg-velvet-900/10 md:p-9 md:pr-0 rounded-2xl gap-0 md:gap-7 transition ease-[cubic-bezier(0.345, 0.115, 0.135, 1.42)] hover:border-pink-900/50 hover:bg-velvet-900/25 overflow-hidden`
>
    <div
        class="w-full lg:w-[40%] flex flex-col gap-3 text-pink-100 group-hover:text-pink-50 p-6 md:p-0 lg:p-0"
    >
        <h3 class="text-xl md:text-2xl font-medium line-clamp-2">
            {projectName}
        </h3>
        <div class="text-base md:text-lg line-clamp-3 mb-3">
            <Fragment set:html={projectDesc} />
        </div>
        <PillLink
            link={projectLink}
            className="w-fit hover:underline hover:decoration-dashed after:content-[''] after:absolute after:inset-0 after:z-10"
            text="Leer más"
            linkTitle={"Ver más de " + projectName}
        />
    </div>
    <ul
        class="w-full flex flex-row gap-4 overflow-x-scroll lg:overflow-hidden md:max-h-full p-6 pb-3 md:p-0"
    >
        {
            images.map((sourceUrl) => (
                <li class="flex-none flex items-end bg-velvet/50 rounded-xl h-fit w-[260px] p-3 pb-0 pr-4">
                    <img
                        class="grayscale group-hover:grayscale-0 opacity-80 group-hover:opacity-100  md:block md:w-[320px] lg:w-[350px] xl:w-full h-full object-cover bottom-0 transition-all"
                        width="213"
                        height="175"
                        src={sourceUrl}
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </li>
            ))
        }
    </ul>
</article>
