---
interface Props {
    heading: string;
    description: string;
    projectCategory: string;
    projectFeatureImg: string;
    projectLink: string;
}
const {
    heading,
    description,
    projectCategory,
    projectFeatureImg,
    projectLink,
} = Astro.props;

import Primary from "../buttons/Primary.astro";
import Cart from "../icons/Cart.astro";
---

<section
    class="bg-pink m-3.5 md:mx-4 md:my-8 lg:m-4 xl:m-8 p-0 md:p-10 rounded-3xl h-[calc(100%_+_350px)] md:h-[450px] lg:h-[450px] xl:h-[480px] flex flex-row items-start overflow-hidden"
>
    <div
        class="relative max-w-screen-lg w-full h-full l mx-auto flex flex-col md:flex-row items-center gap-5 md:gap-10"
    >
        <div
            class="w-full md:w-[45%] flex flex-col gap-10 md:gap-0 lg:gap-14 md:p-0"
        >
            <div
                class="w-full flex flex-1 flex-col gap-6 px-6 py-7 md:px-0 lg:pr-8"
            >
                <div class="flex flex-row items-center gap-2 md:gap-3">
                    <Cart
                        width={18}
                        className="w-auto scale-90 md:scale-100 fill-pink-400/75 group-hover:fill-pink-400"
                    />
                    <em class="text-sm md:text-base text-pink-200 not-italic"
                        >{projectCategory}</em
                    >
                </div>
                <h1
                    class="text-pink-400 font-black font-title text-[2rem] md:text-4xl lg:text-4xl xl:text-5xl md:mb-3"
                >
                    {heading}
                </h1>
                <div
                    class="text-pink-100 text-xl md:text-xl mb-3 lg:mb-3 line-clamp-3"
                >
                    <Fragment set:html={description} />
                </div>
                <Primary
                    buttonTypeLink
                    link={projectLink}
                    linkTarget="_blank"
                    linkRel="external noreferrer nofollow"
                    text="Visitar sitio web"
                    icon="ExternalLinkIcon"
                />
            </div>
        </div>
        <img
            class="w-full md:w-[530px] xl:w-[580px] md:absolute bottom-0 md:-bottom-10 md:-right-52 lg:-right-16 object-contain px-6 md:p-0 -translate-x-2"
            src={projectFeatureImg}
            alt=`Portada del projecto ${heading}`
            loading="lazy"
            decoding="async"
        />
    </div>
</section>
