---
interface Props {
    title: string;
    pageDescription: string;
    pageTitle: string;
    header?: boolean;
    footer?: boolean;
    className?: string;
}
const {
    title,
    pageTitle,
    pageDescription,
    header = true,
    footer = true,
    className = "",
} = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../assets/global.css";

const urlPathname = Astro.url.pathname;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.png" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <meta name="description" content={pageDescription} />
    </head>
    <body
        class=`bg-velvet text-velvet-50 selection:bg-velvet-800 selection:text-velvet-50 ${className}`
    >
        {
            header ? (
                <Header pageName={pageTitle} currentPath={urlPathname} />
            ) : (
                ""
            )
        }

        <main class="w-full">
            <slot />
        </main>

        {footer ? <Footer /> : ""}
    </body>
</html>
